# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Output folders
clips_*/
montage_*/
*_work/
*_realtime_work/
ai_clips_out/
montage_clips_out/

# Large media
*.mp4
*.mov
*.mkv
*.avi
*.wav
*.pcm
*.mp3

# Keep sample SRT files if needed
!sample/*.srt

# OS / IDE
.DS_Store
.idea/
.vscode/
